#nav {
    width: 20%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #9BC32F;
    overflow-x: hidden;
}

#nav a{
    font-size: xx-large;
    font-weight: bold;
    color: #FFFFFF;
}

#main {
    margin-left: 25%;
    margin-right: 5%;
    height: 100%;
    top: 0;
}

.list {
    padding-top: 10%;
    line-height: 2.2;
}